@import url("reset.css");

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.title-text {
    position: absolute;
    top: 260px;
    left: 420px;
    width: 605px;
    height: 80px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: #F8F9FA;
}

div#image-wrap {
    position: relative;
    width: 1440px;
    height: 500px;
}

div[class*="-paragraph"] {
    /* background-color: aqua; */
    margin: 50px 312px;
}

div[class*="-paragraph"] p {
    width: 816px;
    margin-top: 40px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    color: #6C757D;
}

div[class*="-paragraph"] h2 {
    width: 400px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    margin-top: 25px;
}

div.second-paragraph h2 {
    width: 605px;
}

div.first-paragraph span {
    margin-right: 25px;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    color: #6C757D;
}

span#medium {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
}

div#second-image {
    margin: 80px 100px;
    width: 1240px;
    height: 400px;
    left: 100px;
}

div#double-image {
    margin: 80px 100px;
}

footer {
    color: blue;
    width: 1240px;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
}